<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="stylesheet1.css">

    <title>Polymath</title>
</head>
<body>

  


        <header><img src="logo4.png" alt="logo" height="70px" width="70px"><span  id="header-text">Financial Advisor</span></header>



    <div><div class="navigation">
        <a href="workspace.html">Workspace</a>
        <a href="solvedex.html">SolvedExamples</a>
       <a href="additionalresources.html">AdditionalResources</a>
       <a href="feedbackform.html">Feedback</a>

    </div></div>

    <div><div class="intro">


    </div></div>



   <main>




    <span class="card1">
      <div class="card-img-top">
      
      </div>
      
    
      
       <button class="card-button" >
        Infylation Calculator
       </button>
    </span>

<span class="card2">
  <div class="card-img-top">
   
  </div>
  

  
   <button class="card-button" >
    Credit Score Calculator
   </button>
</span>

<span class="card3">
  <div class="card-img-top">
   
  </div>
  

  
   <button class="card-button" >
    Salary Calculator
   </button>
  
</span>

<span class="card4">
  <div class="card-img-top">
    
  </div>
  

  
   <button class="card-button" >
    Loan Calculator
   </button>
</span>

<span class="card4">
  <div class="card-img-top">
  
  </div>
  

  
   <button class="card-button" >
    Loan Calculator
   </button>
</span>

<span class="card4">
  <div class="card-img-top">
    
  </div>
  

  
   <button class="card-button" >
    Loan Calculator
   </button>
</span>



   </main>


    <div class="footer">
        <p><a href="mailto:priotosh.mondal777@gmail.com">Get in touch with us through E-mail</a></p>
   </div>


</body>
</html>


  <script
src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>