<!doctype html>
<html lang="en" xmlns="">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'stylesheet1.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Quintessential&display=swap" rel="stylesheet">
      <link rel="shortcut icon" type="image/png" href="{% static 'output-onlinepngtools.png' %}">

    

      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.0/dist/chart.min.js"></script>


  

    <title>Salary Calculator</title>
  </head>
  <body>
    <nav class="navbar navbar-dark" style="background-color: #212324da; ">
  <div class="container-fluid">
    <a class="navbar-brand"  href="#">Finance Aid</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/homepage">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/SalaryCalculator">In-hand Salary Calculator</a></li>
            <li><a class="dropdown-item" href="/homeloan">Home Loan EMI calculator</a></li>
              <li><a class="dropdown-item" href="/eduloan">Education Loan EMI calculator</a></li>

            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2 bg-light" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" style="background-color: azure; color: blue;" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
    <div class="breadcrumb">
<nav style="--bs-breadcrumb-divider: '>'; "   aria-label="breadcrumb">
  <ol class="breadcrumb light-blue" >
    <li class="breadcrumb-item" ><a href="/homepage">Home</a></li>
      <li class="breadcrumb-item" ><a href="/SalaryCalculator">Salary Calculator</a></li>

    <li class="breadcrumb-item active" aria-current="page">Salary Details</li>
  </ol>
</nav>
</div>
<main1>



    <form class="row g-3" style="background-color: #36353585;

  text-align: center;
    height: 80%;
    padding: 20px;" action="\SalaryDetails">
      <h6>Your monthly in-hand salary is </h6>
       <h1 style="text-align: center;">&#x20B9 {{res}}</h1>



      </form>

<div class="res" style="display: flex; flex-direction: row;">

    <div id="cont" style="padding: 15px;
    text-align: center;
    
    margin: 20px;
    box-shadow: 1px 1px 5px 5px rgb(105, 104, 104);
    
    
    border-width: 15px; width: 60%; height: 100%;">




<canvas id="myChart" style="display: block; "></canvas>

</div>


<div id="cont2" style="padding: 15px;
text-align: center;

margin: 20px;
box-shadow: 1px 1px 5px 5px rgb(105, 104, 104);


border-width: 15px; width: 40%;display:block; ">
    <h6>Annual Salary Break-up</h6>
    <br>
      <table class="table table-striped" style="width: 100%;">

        <thead>
          <tr>
            <th scope="row"><li style="list-style-type: square;"></li></th>
            <td>Total CTC</td>
            <td> </td>
            <td>&#x20B9 {{CTC}}</td>
          </tr>
        </thead>
        <tbody>

        <thead>
        <tr>
            <th scope="row"></th>
            <td>Bonus</td>
            <td><span style="width:100px;height:100px;background-color:magenta;border:solid black;">

            </span></td>
            <td>-&#x20B9 {{tbonus}}</td>
          </tr>

        </thead>
        <th scope="row"><li style="list-style-type: square;"></li></th>
            <td>Gross Pay</td>
            <td><span style="width:100px;height:100px;background-color:magenta;border:solid black;">

            </span></td>
            <td>&#x20B9 {{ts}}</td>

        </tbody>

          <thead>
          <tr>
            <th scope="row"><li style="list-style-type: square;"></li></th>
            <td>Total Deductions</td>
            <td> </td>
            <td>-&#x20B9 {{td}}</td>
          </tr>
        </thead>

        <tbody>


        <tr>
            <th scope="row"></th>
            <td>Employee Provident Fund</td>
            <td><span style="width:100px;height:100px;background-color:magenta;border:solid black;">

            </span></td>
            <td>-&#x20B9 {{epf}}</td>
          </tr>

        <tr>
            <th scope="row"></th>
            <td>Employer Provident Fund</td>
            <td><span style="width:100px;height:100px;background-color:magenta;border:solid black;">

            </span></td>
            <td>-&#x20B9 {{epf}}</td>
          </tr>

                <tr>
            <th scope="row"></th>
            <td>Professional Tax</td>
            <td><span style="width:100px;height:100px;background-color:magenta;border:solid black;">

            </span></td>
            <td>-&#x20B9 {{prof}}</td>
          </tr>

        <tr>
            <th scope="row"></th>
            <td>Gratuity</td>
            <td><span style="width:100px;height:100px;background-color:magenta;border:solid black;">

            </span></td>
            <td>-&#x20B9 {{gt}}</td>
          </tr>

        <tr>
            <th scope="row"></th>
            <td>Employee Insurance</td>
            <td><span style="width:100px;height:100px;background-color:magenta;border:solid black;">

            </span></td>
            <td>-&#x20B9 {{ins}}</td>
          </tr>

               <tr>
            <th scope="row"></th>
            <td>Additional Deductions</td>
            <td><span style="width:100px;height:100px;background-color:magenta;border:solid black;">

            </span></td>
            <td>-&#x20B9 {{ad}}</td>
          </tr>


        </tbody>
        <thead>
          <tr>
            <th scope="row"><li style="list-style-type: square;"></li></th>
            <td>Taxable income</td>
            <td> </td>
            <td>&#x20B9 {{taxable}}</td>
          </tr>
        </thead>
          <tbody>

          <tr>
            <th scope="row"></th>
            <td>Income Tax</td>
            <td><span style="width:100px;height:100px;background-color:magenta;border:solid black;">

            </span></td>
            <td>-&#x20B9 {{it}}</td>
          </tr>

          </tbody>

          <thead>
          <tr>
            <th scope="row"><li style="list-style-type: square;"></li></th>
            <td>Net Annual Pay</td>
            <td> </td>
            <td>&#x20B9 {{ihs}}</td>
          </tr>
          </thead>

          <thead>
           <tr>
            <th scope="row"><li style="list-style-type: square;"></li></th>
            <td>Net Monthly Pay</td>
            <td> </td>
            <td>&#x20B9 {{ihspm}}</td>
          </tr>
        </thead>


      </table>
    </div>
  </div>




 </main1>




    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->


    <style> .body{color: rgb(110, 213, 211);}</style>
    <script>
          var ctc = {{CTC}};
      var gross = {{Gross}};
      var taxable = {{taxable}};
      var bs = {{bs}};

      var prof = {{prof}};
      var ad1 = {{ad1}};
      var ad2 = {{ad2}};
      var ad3 = {{ad3}};
      var ad = {{ad}};
      var hra = {{hra}};
      var epf = {{epf}};
      var tbonus = {{tbonus}};
      var gt = {{gt}};
      var empf = {{epf}};
      var ihs = {{ihs}};
      var ins = {{ins}};
      var it = {{it}};

      

      

      

var xValues = ["Inhand Salary", "Professional Tax", "EmployeePF","EmployerPF","Add. Deductions","Bonus","Gratituity","Income Tax","Employee Insurance"];
      var yValues = [ihs,prof,epf,empf,ad,tbonus,gt,it,ins];
      var barColors = ["#f34257","blue","orange","brown","gray","pink", "black", "#1ce9b6","green"];

new Chart("myChart", {
  type: "doughnut",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },
  options: {
    legend: {display: false},
    title: {
      display: true,
      text: "Salary Break up"
    }

  }
  //plugins: [ChartDataLabels]
});
</script>


  </body>



<div class="my5"
 style="width : 100%; margin-top:0px; padding:0%;
  "
>

  <!-- Footer -->
  <footer
          class="text-center text-lg-start text-white"
          style="background-color: rgb(61, 99, 143)"
          >
    <!-- Section: Social media -->
    <section
             class="d-flex justify-content-between p-4"
             style="background-color:rgb(34, 58, 85)"
             >
      <!-- Left -->
      <div class="me-5" style="width:700px">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- Left -->

      <!-- Right -->
      <div>
        <a href="#" class="fa fa-facebook"></a>
        <a href="https://twitter.com/_capitalistbong" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-google"></a>
        <a href="#" class="fa fa-instagram"></a>
        <a href="#" class="fa fa-linkedin"></a>
        <a href="#" class="fa fa-github"></a>

      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold">FinanceAid</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #777574; height: 2px"
                />
            <p>
              One stop solution for all your financial calculations!!
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Created by</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #777574; height: 2px"
                />
            <p>
              <a href="mailto:2020.shreya.kukreja@ves.ac.in" class="text-white">Shreya Kukreja</a>
            </p>
            <p>
              <a href="mailto:2020.roshini.panjwani@ves.ac.in" class="text-white">Roshini Panjwani</a>
            </p>
            <p>
              <a href="mailto:2020.priotosh.mondal@ves.ac.in" class="text-white">Priotosh Mondal</a>
            </p>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Products</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #777574; height: 2px"
                />
            <p>
              <a href="\SalaryCalculator" class="text-white">Inhand Salary Calculator</a>
            </p>
            <p>
              <a href="\homeloan" class="text-white">Home Loan Calculator</a>
            </p>
            <p>
              <a href="\eduloan" class="text-white">Education Loan Calculator</a>
            </p>
            <p>
              <a href="#!" class="text-white">Help</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Contact</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #777574; height: 2px"
                />
            <p><i class="fas fa-home mr-3"></i> Mumbai, MH , India</p>
            <p><i class="fas fa-envelope mr-3"></i> sophisticatedbratlxix@gmail.com</p>
            <p><i class="fas fa-phone mr-3"></i> 9967460325</p>
            <p><i class="fas fa-print mr-3"></i> 8450911390</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div
         class="text-center p-3"
         style="background-color: rgba(0, 0, 0, 0.2)"
         >
      © 2022 Copyright:
      <a class="text-white" href="#"
         >FinanceAid.com</a
        >
    </div>
    <!-- Copyright -->
  </footer>
</div>

</html>

